* {box-sizing: border-box;margin:0;padding:0;}

@media screen {   
  /* Generic pane rules */
  .row, .col { overflow: hidden; position: absolute; }
  .row { left: 0; right: 0; }
  .col { top: 0; bottom: 0; }
  .scroll-x { overflow-x: auto; }
  .scroll-y { overflow-y: auto; }

  .header.row { height: 75px; top: 0; }
  .body.row { top: 75px; bottom: 50px; }
  .footer.row { height: 50px; bottom: 0; }
  
  /* end of screen rules. */ 
}

/*Tab Background Colors */
#Home {background-color: #059AD2;}
#Music {background-color: #0C0926;}
#Videos {background-color: #673B9C;}
#Games {background-color: #04134F;}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: .8rem 1rem;
  font-size: 1rem;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 3em 1em;
  height: fill;
  text-align: center;
}

/* Set height of body and the document to 100% */
body, html {
    margin: 0;
    font-family: Arial;
    background-color: black;
    color:#D8E5F1;
}

/* IMG styles */
img{
    max-width: 100%;
    max-height: 100%;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
}

/*iframe*/
iframe{
  max-width: 100%;
  height:400px;
  padding:0.1rem;
  border-radius: 1rem;
}

/*Typography*/
h1,h2,h3{padding:0.2rem}
h1{font-size:2.5rem;margin:.2em;}
h2{font-size:2rem;margin:.2em;}
h3{font-size:1.5rem;margin:.2em;}
p{font-size: 1rem;}
a{
  color:#F840F5;
}
a:hover{
  color:#FDC4FC;
}
.accentText{
  color:#103F85;
  font-size: 3rem;
  ;
}

li{display:inline-block;}

ul{line-height: 1.6;text-align: center;}

/* Home Page Styles */
.homePanel{
    background-color:#C8A590;
    width:100%;
    padding: 1rem;
    margin: 0;
    border-radius: 2rem;
    border: 2px solid black;
}

.homeCard{
    margin: 1rem auto;
    padding: 1rem;
    max-width: 100%;
    background-color: #103F85;
    border-radius: 1rem;
    max-width: 1440px;
    border: 2px solid black;
}

/* Music Page Styles */
.musicCard{
  padding: .5em;
  margin: 1em auto;
  border: none;
  background-color: #0C0926;
  width:90%;
  border-radius: 1rem;
  color:#059AD2;
  border: 2px solid #F63EF2;
}

.musicCard h3{
  border-bottom: 2px solid #F63EF2;
  width:fit-content;
}

.left{text-align: left;}
.left p{text-align: right;}

.right{text-align: right;}
.right p{text-align: left;}

.musicPanel{
    background-color:#673B9C;
    width:100%;
    padding: .5em;
    margin: auto;
    border-radius: 2rem;
    color:#0C0926;
    border: 2px solid black;
}


/*Video Page Styles */

.videoCard{
  padding:1rem;
  margin:1rem auto;
  border-radius: 1rem;
  background-color:#FFC0FF;
  border: 2px solid black;
  color:black;
  
}

.videoPanel{
    background-color:#586BC7;
    width:100%;
    padding: .5em;
    margin: auto;
    border-radius: 2rem;
    border: 2px solid black;
}

/*Game Page Styles */
.gamePanel{
    background-color:#3A2B3B;
    width:100%;
    padding: .5em;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 2rem;
    border: 2px solid black;
}

.gameCard{
  background-color:#0C0926;
  max-width: fit-content;
  margin:1rem auto;
  padding:1rem;
  border-radius: 1rem;
}

/*
IDs
*/

