/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*
font-family: 'VT323', monospace;
*/

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    text-align: center;
}

body{
    background-color: black;
    display:flex;
    flex-direction: column;
}

header{justify-self: flex-start;}
footer{justify-self: flex-end;}

.card{
    background-color:grey;
    padding:.2rem;
    margin:.2rem;
    max-height:50%;
}

h1{
    text-align: center;
    font-size: 3rem;
}

h3{
    text-align: center;
    font-size: 2.2rem;
    padding:.2rem;
    margin: .2rem auto;
}

p{
    text-align: center;
    font-size: 1.5rem;
    padding:.2rem;
    padding-top:0;
    margin: .2rem auto;
}

ul{
    margin:0;
    padding:0;
    text-align: center;
    list-style: none;
    text-decoration: none;
    display:inline-block;
    width:400px;
}

ul li{
    float: none;
}

.button{
    background-color: green;
    text-align: center;
    padding:.5rem;
    margin: .8rem auto;
    font-size: 2rem;
    border:none;
    cursor: pointer;
}

.button:hover{
    background-color: darkgreen;
}

.button:active{
    background-color: lightgreen;
    color:black;
}